<div class="container">
  <button>
    <a routerLink="/form-agenda" class="btn btn-primary" (click)="create">Criar Compromisso</a>
  </button>
  <table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome do evento</th>
            <th scope="col">Local</th>
            <th scope="col">Data de Inicio</th>
            <th scope="col">Data de Fim</th>
            <th scope="col">Hora de Inicio</th>
            <th scope="col">Hora de Fim</th>
            <th scope="col">Descrição</th>
            <th scope="col"> Ações</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let compromisso of compromissos">
        <th scope="row">{{compromisso.id}}</th>
        <td>{{compromisso.titulo}}</td>
        <td>{{compromisso.local}}</td>
        <td>{{compromisso.dataInicio}}</td>
        <td>{{compromisso.dataFim}}</td>
        <td>{{compromisso.horaInicio}}</td>
        <td>{{compromisso.horaFim}}</td>
        <td>{{compromisso.descricao}}</td>
        <td>
          <button class="btn btn-primary" (click)="update(compromisso)">Editar</button>
          <button class="btn btn-danger" (click)="delete(compromisso)">Excluir</button>
        </td>
      </tr>
    </tbody>
 </table>
</div>

