<div class="container">
  <button class="btn btn-primary" (click)="create()"> Adicionar Compromisso
  </button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome do evento</th>
        <th scope="col">Local</th>
        <th scope="col">Data de Inicio</th>
        <th scope="col">Data de Fim</th>
        <th scope="col">Hora de Inicio</th>
        <th scope="col">Hora de Fim</th>
        <th scope="col">Descrição</th>
        <th scope="col"> Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let compromisso of compromissos">
        <th scope="row">{{compromisso.id}}</th>
        <td><a routerLink="/compromissos/{{compromisso.id}}">{{compromisso.titulo}}</a></td>
        <td>{{compromisso.local}}</td>
        <td>{{compromisso.dataInicio}}</td>
        <td>{{compromisso.dataFim}}</td>
        <td>{{compromisso.horaInicio}}</td>
        <td>{{compromisso.horaFim}}</td>
        <td>{{compromisso.descricao}}</td>
        <td>
          <button class="btn btn-danger" (click)="delete(compromisso)">
            
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
              viewBox="0 0 16 16">
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
              <path
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>